.section {
  padding: var(--sectionGapMd) 0;
}

.icon {
  font-size: 3rem;
  color: var(--colPrimary);
  line-height: 1;
}

.text {
  font-size: var(--pFontSize);
  line-height: var(--textLineHeight);
  margin: 0;
}
