.section {
  padding: var(--sectionGapMd) var(--contentPadding);
}

.list {
  max-width: var(--contentTextMaxWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 3rem;
  font-size: var(--pFontSize);
  line-height: var(--textLineHeight);
}

.item::before {
  content: '✓';
  color: var(--rb-red);
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
  }
}
