.section {
  padding: var(--sectionGapLg) var(--contentPadding);
  background: #f6f5f5;
}

.quote {
  max-width: var(--contentTextMaxWidth);
  margin: 0 auto;
  text-align: center;
}

.body {
  font-family: var(--font-heading, 'Libre Franklin', serif);
  font-size: var(--h3FontSize);
  line-height: var(--h3LineHeight);
  margin-bottom: 3rem;
  font-style: italic;
}

.attrib {
  font-size: var(--pFontSize);
  color: var(--rb-red);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
