.section {
  padding: var(--sectionGapMd) 0;
}

.heading {
  font-size: var(--h4FontSize);
  line-height: var(--h4LineHeight);
  margin-bottom: 1.5rem;
}

.bullets {
  list-style: disc inside;
  font-size: var(--pFontSize);
  line-height: var(--textLineHeight);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
